html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background: #fffff7;
}

*, *::after, *::before{
    box-sizing: inherit;
}


.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.textarea {
    margin-bottom: 10px;
    width: 724px;
    height: 200px;
}

.keyboard {
    padding: 5px;
    border: 3px solid #a1b9d0;
    border-radius: 4px;
    position: relative;
    background-color: aliceblue;
}

.keyRow::after {
    content: "";
    display: block;
    clear: both;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #a1b9d0;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 32px;
    background-color: rgb(173, 210, 300);
}

.key:hover {
    color: #fff;
    background: #a1b9d0;
    cursor: pointer;
    transition: .3s;
}

.keyboard .key.active {
    border-radius: 50px;
}

.key:active {
    border-radius: 50px;
    background:  rgb(83, 152, 221);
}

.active {
    border-radius: 50px;
    background:  rgb(83, 152, 221);
    transition: .4s;
}


.backspace {
    width: 105px;
}

.tab {
    width: 60px;
}

.capslock {
    width: 96px;
}

.space {
    width: 336px;
}

.creationSystem {
    margin-bottom: 0;
}

.languageCombination {
    margin-top: 5px;
}